.projects-page {
  margin: 3rem;
  padding: 0;

  .active-pink-2 input[type=search]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
    
  .active-pink input[type=search] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }

  .search-bar {
    margin: 1.5rem 0;
  }

  .project-container {
      margin-left: 0;

      .project {
        margin-right: 1.5rem;
        min-width: 20rem;
        padding: 0;

        .project-name {
          color: #008080;
        }
      }
  }
}